.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #515154;
    transition: background-color 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    --white: #fff;
    z-index: 2;
}

.inner {
    width: 1440px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo-link {
    width: 20%;
}

.list-wrap {
    width: 60%;
    display: flex;
    justify-content: center;
}

.list-product {
    color: var(--white);
    padding: 16px 32px;
    line-height: 2;
    font-size: 1.8rem;

    transition: background-color 0.2s linear;

    &:hover {
        background-color: #3f3f3f;
    }
}

.wrap-icon {
    color: var(--white);
    display: flex;
    font-size: 2rem;
    flex: 1;
    justify-content: flex-end;
    .icon {
        cursor: pointer;
        padding: 9px;
    }
}

.search-box {
    display: flex;
    justify-content: flex-end;
    width: 40px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 20px;
    &:hover {
        width: 100%;
    }
    input {
        position: relative;
        border: none;
        outline: none;
        padding: 10px 36px 10px 20px;
        font-size: 1.4rem;
        color: #555;
        background-color: #3d3d3d;
        // background-color: #515154;
        border-radius: 20px;
    }
    .icon {
        position: absolute;
    }
}

.icon + .icon {
    margin-left: 48px;
}
