@import 'normalize.css';

:root {
    --primary: #0066cc;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    --background-color: #f5f5f7;
    --footer-text: #86868b;
    --font-family: 'ProximaNova', sans-serif;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    scroll-behavior: smooth;
}
// html {
//     font-size: 62.5%;
// }

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}
::selection {
    background: #cdcdcd;
}
.grid {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__header {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 45px;
    margin-bottom: -35px;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;
}

.grid__column-6 {
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
}

.grid__column-4 {
    width: 33.33333%;
    // padding: 16px;
}

.grid__column-3 {
    width: 25%;
}

.grid__column-2 {
    width: 16.666667%;
}

.grid__column-1 {
    width: 8.333333%;
}

.container {
    width: 100%;
    margin-top: 68px;
    padding-bottom: 48px;
    background-color: #f5f5f7;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

// Fonts emmbeded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        margin-top: 116px;
    }
}
@media (max-width: 739px) {
    .container {
        margin-top: 133px;
    }
}
//Modal
// .modal {
//     position: fixed;
//     height: 100%;
//     width: 100%;
//     bottom: 0;
//     left: 0;
//     background-color: rgba(0,0,0,.8);
//     z-index: 9999;
//     background-image: linear-gradient(180deg, #1D1D1F 63px, #1D1D1FC4 0%);
//     justify-content: center;
//     align-items: flex-start;
//     pointer-events: all;
//     background-color: transparent;
//     display: flex;
// }
// .box-content {
//     animation-duration: 0.7s;
//     background-color: #D2444400;
//     width: auto;
//     overflow: visible;
//     max-width: 100%;
//     max-height: 100%;
//     border-radius: 0;
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }
// .search-input {
//     width: 100%;
//     height: 54px;
//     padding: 9px 15px;
//     font-size: 14px;
//     line-height: 1.3;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//     background-color: #1D1D1F;
//     color: #fff;
//     border: 1px solid #e1e5eb;
//     -webkit-transition: .2s;
//     -o-transition: .2s;
//     transition: .2s;
//     position: relative;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-flex: 1;
//     -ms-flex: 1 1 auto;
//     flex: 1 1 auto;

// }
// .heading-title {
//     color: #86868B;
//     font-size: 16px;
//     font-weight: 400;
//     font-style: normal;
//     line-height: 25px;
//     letter-spacing: 0px;
//     word-spacing: 0px;
//     -webkit-text-stroke-color: #000;
//     stroke: #000;
//     text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
//     background-color: #fff;
// }




